{
  "log": {
    "_recordingName": "SpicewareSDK",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "9655e9eada2c067145ca08b6f35e66de",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=UTF-8",
            "params": [],
            "text": "{\"uri\":\"/test\",\"ip\":\"127.0.0.1\",\"fields\":{\"name\":\"jonghunyu\"}}"
          },
          "queryString": [],
          "url": "http://enc-dev.kross.kr:4826/encrypt"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": "{\"result\":\"success\",\"message\":\"\",\"fields\":{\"name\":\"hNc2LIumSM8p1uZD5WAeyC8O0gSwLblmkAGWRyt2FzKTS========E\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49,
      },
      {
        "_id": "11f826dda8e6a48016b48968fdcc67d4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=UTF-8",
            "params": [],
            "text": "{\"uri\":\"/test\",\"ip\":\"127.0.0.1\",\"fields\":{\"name\":\"hNc2LIumSM8p1uZD5WAeyC8O0g[...]
